<ul>
    <li>Mario 
        <button 
        [ngClass]="{
            exito: !aprobado,
            error: aprobado
          }"
            [ngStyle]="{
                'text-decoration': aprobado ? 'underline' : 'unset',
                'font-weight': aprobado ? 700 : 400
              }"
         (click)="cambioAprobar"></button></li>
    <li>Donkey Kong</li>
    <li>Yoshi</li>
    <li>Kirby</li>
    <li>Sammus</li>
    <li>Peach</li>
    <li>Joker</li>
    <li>Luigi</li>
    <li>Mario</li>
    <li>Jigglypuff</li>

</ul>
