/* You can add global styles to this file, and also import other style files */
body{
    background-color: silver;
    margin: 10px;
    border: 10px;
}
h1{
    font-size: 10vh;
}
p,li{
    color: aqua;
    font-size: 3vh;
}
h2{
    font-size: 5vh;
    color: aqua;
}
.grid-container{
    height: 100vh;
    position: relative;
    background-color: gray;
}
.nav-bar{
    position: absolute;
    height: 90vh;
    width: 20vw;
    background-color: rgba($color: #929292, $alpha: 1.0);
}
.students-page{
    height: 90vh;
    padding-left: 20vw;
    background-color: rgb(51, 47, 47);
    text-align: center;
}
